<%- include('../../partials/header.ejs') %>

<div class="container">
    <h1 class="display-4 text-center" style="margin: 300px 0px">404 not found</h1>
</div>


<%- include('../../partials/footer.ejs') %>

</body>
</html>
